*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
nul
/gradle/extracted
/gradle/gradle.zip
/app/build
/core/domain/build
/core/data/build
/core/ui/build
/core/sync/build
/feature/workspace/build
/feature/vault/build
/feature/transactions/build
/feature/settings/build
